#!/usr/local/plan9/bin/rc

DEST=''
os=`{uname}
switch($os) {
case 'Darwin'
	DEST=$home/Library/Fonts
case 'Linux'
	DEST=$home/.local/share/fonts
}

fn huerta {
	fonts=('https://www.huertatipografica.com/free_download/132' 'https://www.huertatipografica.com/free_download/23' 'https://www.huertatipografica.com/free_download/164' 'https://www.huertatipografica.com/free_download/144' 'https://www.huertatipografica.com/free_download/45' 'https://www.huertatipografica.com/free_download/142')
	install 'huerta' $fonts
}

fn nerdfonts {
	fonts=('https://github.com/ryanoasis/nerd-fonts/releases/download/v2.1.0/Go-Mono.zip' 'https://github.com/ryanoasis/nerd-fonts/releases/download/v2.1.0/3270.zip' 'https://github.com/ryanoasis/nerd-fonts/releases/download/v2.1.0/BigBlueTerminal.zip' 'https://github.com/ryanoasis/nerd-fonts/releases/download/v2.1.0/FiraMono.zip' 'https://github.com/ryanoasis/nerd-fonts/releases/download/v2.1.0/Monoid.zip' 'https://github.com/ryanoasis/nerd-fonts/releases/download/v2.1.0/SourceCodePro.zip' 'https://github.com/ryanoasis/nerd-fonts/releases/download/v2.1.0/Terminus.zip')
	install 'nerdfonts' $fonts
}

fn juliamono {
	fonts=('https://github.com/cormullion/juliamono/releases/download/v0.038/JuliaMono.zip')
	install 'juliamono' $fonts
}

fn nimbus {
	fonts=('https://github.com/ArtifexSoftware/urw-base35-fonts/archive/refs/tags/20200910.zip')
	install 'nimbus' $fonts
}

fn minion {
	fonts=('https://www.wfonts.com/download/data/2016/05/26/minion-pro/minion-pro.zip')
	install 'minion' $fonts
}

fn atkinson {
	fonts=('https://www.brailleinstitute.org/wp-content/uploads/atkinson-hyperlegible-font/Atkinson-Hyperlegible-Font-Print-and-Web-2020-0514.zip')
	install 'atkinson' $fonts
}

# Opensource font sponsored by Red Hat
# http://overpassfont.org/
fn overpass {
	fonts=('https://github.com/RedHatBrand/Overpass/releases/download/3.0.2/overpass-desktop-fonts.zip')
	install 'overpass' $fonts
}

# Opensource font sponsored by Adobe
# https://github.com/adobe-fonts/
fn adobe {
	fonts=('https://github.com/adobe-fonts/source-serif-pro/releases/download/3.001R/source-serif-pro-3.001R.zip' 'https://github.com/adobe-fonts/source-sans-pro/releases/download/3.006R/source-sans-pro-3.006R.zip' 'https://github.com/adobe-fonts/source-code-pro/releases/download/2.030R-ro%2F1.050R-it/source-code-pro-2.030R-ro-1.050R-it.zip')
	install 'adobe' $fonts
}

# Opensource font Copper Hewwit by Chester Jenkins
# https://www.cooperhewitt.org/open-source-at-cooper-hewitt/cooper-hewitt-the-typeface-by-chester-jenkins/
fn cooper {
	fonts=('https://uh8yh30l48rpize52xh0q1o6i-wpengine.netdna-ssl.com/wp-content/uploads/fonts/CooperHewitt-OTF-public.zip')
	install 'cooper' $fonts
}

# Opensource font by David Johnatan Ross
# https://input.fontbureau.com/
fn input {
	fonts=('http://input.fontbureau.com/build/?fontSelection=whole&a=0&g=ss&i=0&l=0&zero=0&asterisk=0&braces=0&preset=default&line-height=1.4&accept=I+do&email=')
	install 'input' $fonts
}

# Opensource font by
# https://practicaltypography.com/fonts/charter.zip
fn charter {
	fonts=('https://practicaltypography.com/fonts/Charter%20210112.zip')
	install 'charter' $fonts
}

# Open fonts by SIL
# https://software.sil.org/fonts/

# Opensource font by
# http://terminus-font.sourceforge.net/
fn terminus {
	fonts=('https://files.ax86.net/terminus-ttf/files/latest.zip')
	install 'terminus' $fonts
}

# Open fonts by D. Knuth ported to TTF
# http://mirrors.ctab,org/fonts
fn computermodern {
	fonts=('http://mirrors.ctan.org/fonts/cm-unicode.zip')
	install 'computer_modern' $fonts
}

# Open source fonts by IBM
# https://github.com/IBM/plex
fn ibm {
	fonts=('https://github.com/IBM/plex/releases/download/v4.0.2/OpenType.zip' )
	install 'ibmplex' $fonts
}

# Free font by Huerta Tipografica
# https://www.huertatipografica.com
fn bitter {
	fonts=('https://www.huertatipografica.com/free_download/144')
	install 'bitter' $fonts
}

# Opensource font by Mozilla
# https://github.com/mozilla/fira
fn fira {
	fonts=('https://github.com/mozilla/Fira/archive/4.202.zip')
	install 'fira' $fonts
}
# Free Font derived form Lucida to be included with Go programming language
# https://blog.golang.org/go-fonts
fn gofont {
	fonts=('https://go.googlesource.com/image/+archive/master/font/gofont/ttfs.tar.gz')
	curl -L -o gofont.tar.gz $fonts(1)
	copy 'gofont'
}

# Open source fonts from Google
fn noto {
	fonts=('https://noto-website-2.storage.googleapis.com/pkgs/Noto-hinted.zip')
	install 'noto' $fonts
}

fn lora {
	fonts=('https://www.fontsquirrel.com/fonts/download/lora')
	install 'lora' $fonts
}

fn orbitron {
	fonts=('https://github.com/theleagueof/orbitron/archive/master.zip')
	install 'orbitron' $fonts
}

fn montserrat {
	fonts=('https://github.com/JulietaUla/Montserrat/archive/v7.200.zip')
	install 'monserrat' $fonts
}

# 'https://raw.githubusercontent.com/Zygo/xscreensaver/master/OSX/gallant12x22.ttf'
fn sun {
	curl -L 'https://raw.githubusercontent.com/Zygo/xscreensaver/master/OSX/gallant12x22.ttf' > $DEST/gallant12x22.ttf
}

fn dec {
	fonts=('https://dl.dafont.com/dl/?f=dec_terminal_modern')
	install 'dec' $fonts
}

fn ibm3270 {
	fonts=('https://github.com/rbanffy/3270font/releases/download/v2.0.4/3270_fonts_ece94f6.zip' )
	install '3270' $fonts
}

fn ibarra {
	fonts=('https://github.com/googlefonts/ibarrareal/archive/master.zip')
	install 'ibarra' $fonts
}

fn copy {
	name=$1
	shift
	mkdir -p $DEST/$name

	cp *.otf $DEST/$name || cp *.ttf $DEST/$name
}

fn install {
	name=$1
	shift
	fonts=$*

	for(i in `{9 seq 1 1 $#fonts}) {
		echo Downloading $fonts($i) into $i.zip
		curl -L -o $i.zip $fonts($i)
		echo Uncompressing $i.zip
		/usr/bin/unzip -j $i.zip
		echo Copying into $name
		copy $name
		echo Remove $i.zip
		rm $i.zip
	}
}

ALL=(huerta nerdfonts juliamono nimbus minion atkinson ibarra overpass adobe cooper input charter terminus computermodern ibm bitter fira gofont noto lora orbitron montserrat sun dec ibm3270)

if(test $#* -eq 0 ) {
	echo Select all or one of the following fonts:
	echo $ALL
	exit
}

FONTS=$*
if(test -z $FONTS) {
	echo 'Select all or one of the following fonts:'
	echo $ALL
	exit
}

for(font in $FONTS) {
	tmp=`{mktemp -d}
	cd $tmp
	echo Installing $font
	$font
	cd
	echo Remove $tmp
}

