#!/usr/local/plan9/bin/rc

os=`{uname | 9 tr [A-Z] [a-z]}

GOVERSION=1.21.3
DEST=$home/.local/go/
GOROOT=$DEST'/'$GOVERSION
URL=https://go.dev/dl/go$GOVERSION.$os-amd64.tar.gz

switch($os) {
case 'darwin'
	URL=https://go.dev/dl/go$GOVERSION.darwin-arm64.tar.gz
}

if(test ! -d $GOROOT) {
	echo Installing Go $GOVERSION
	mkdir -p $DEST
	cd $DEST
	curl -L $URL | 9 gunzip | 9 tar x
	mv go $GOVERSION
	exit
}

path=($GOROOT/bin $path)

# 3rd party
go install 9fans.net/go/acme/editinacme@latest
go install 9fans.net/go/acme/Watch@latest
go install 9fans.net/go/acme/Dict@latest
go install github.com/mpl/xplor@latest
go install github.com/rogpeppe/agitlink@latest

# other tools
go install rsc.io/mailgun/cmd/mailgun-mail@latest
go install rsc.io/mailgun/cmd/mailgun-sendmail@latest

# lang server
go install golang.org/x/tools/gopls@latest
go install github.com/fhs/acme-lsp/cmd/acme-lsp@latest
go install github.com/fhs/acme-lsp/cmd/L@latest
go install github.com/fhs/acme-lsp/cmd/acmefocused@latest


# get ivy
go install robpike.io/ivy@latest
