#!/usr/local/plan9/bin/rc

os=`{uname | 9 tr [A-Z] [a-z]}

GOVERSION=1.17.1
DEST=$HOME/.local/go/
GOROOT=$DEST'/'$GOVERSION
if(test ! -d $GOROOT) {
	echo Installing Go $GOVERSION
	mkdir -p $DEST
	cd $DEST
	curl -L 'https://dl.google.com/go/go'$GOVERSION'.'$os'-amd64.tar.gz' | 9 gunzip | 9 tar x
	mv go $GOVERSION
}

path=($GOROOT/bin $path)

# 3rd party
go install 9fans.net/go/acme/editinacme@latest
go install 9fans.net/go/acme/Watch@latest
go install 9fans.net/go/acme/Dict@latest
go install github.com/mpl/xplor@latest
go install github.com/rogpeppe/agitlink@latest

# other tools
go install rsc.io/mailgun/cmd/mailgun-mail@latest
go install rsc.io/mailgun/cmd/mailgun-sendmail@latest

# lang server
go install golang.org/x/tools/cmd/gopls@latest
go install github.com/fhs/acme-lsp/cmd/acme-lsp@latest
go install github.com/fhs/acme-lsp/cmd/acme-lsp@latest
go install github.com/fhs/acme-lsp/cmd/L@latest


# filesystems
go install github.com/sirnewton01/ghfs@latest

