[Desktop Entry]
Comment=
Exec=/home/gdiazlo/acme/bin/kacme
GenericName=acme editor
Icon=/usr/local/plan9/mac/spaceglenda.png
Name=acme
NoDisplay=false
Path[$e]=$HOME/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
