[Desktop Entry]
Comment=
Exec=/usr/local/plan9/bin/plumb
GenericName=plumber
Icon=/usr/local/plan9/mac/spaceglenda.png
Name=plumber
NoDisplay=false
Path[$e]=$HOME/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
